@import './variable.scss';

.container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}
.btn {
  border-radius: 3px;
  background-color: transparent;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.btn-blue {
  background-color: $bgBlue;
  color: $textWhite;
  &:hover {
    background-color: transparent;
    border-color: $textWhite100;
  }
}
.btn-white {
  background-color: $textWhite;
  color: $bgBlack900;
  &:hover {
    border-color: $textWhite100;
    background-color: transparent;
    color: $textWhite;
  }
}
.btn-outline {
  background-color: $bgBlue;
  color: $textWhite;
  &:hover {
    background-color: transparent;
    border-color: $textWhite100;
  }
}
.title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.05px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.subtitle {
  color: #fff;
  font-size: 16px;
}
.light-text {
  color: #7e7676;
}
.flex {
  display: flex;
}
.align-center {
  display: flex;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

@media (max-width: 760px) {
  .container {
    padding: 10px;
  }
  .btn {
    padding: 5px 10px;
  }
}
