$textWhite: #ffffff;
$textWhite100: #7e7676;
$textWhite300: #393939;
$textGold: #f5bd02;
$bgBlack: #000;
$bgBlack50: #212121;
$bgBlack100: #2e2e2e;
$bgBlack700: #181818;
$bgBlack900: #151515;
$bgRed: #f40107;
$bgBlue: #3f50b5;
$light: #e6e6e6;
